/* .body{
  max-width: 700px;
  margin: 50px auto;
  padding: 20px;
} */

.jb-button{
  text-align: left;
  width: 4.5rem;
}
.btn-danger:hover{
  transform: scale(1.05);
}
.body{
  max-width: 650px;
  margin: 60px auto;
}